<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <title>Shoe List</title>
</head>
<body>
    <%- include('partials/navbar.ejs') %> 
    <br>
    <h1 class="text-center">Brand : <%= brandData.name %> </h1>
    <br>
    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Shoe Name</th>
                <th scope="col">Stock</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% shoesData.forEach(el => { %> 
                    <tr>
                        <td>
                            <img src="<%= el.photo %>" alt="meme pic" style="max-width: 200px;">
                        </td>
                        <td><%= el.name %></td>
                        <td><%= el.stock %></td>
                        <td><%= el.price %></td>
                        <td>
                            <a href="/shoes/<%= el.id %>/detail">
                                <button class="btn btn-primary">Detail</button>
                            </a>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </div>
</body>
</html>